/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

 
 
 html {
   font-size: 66%;
 }
 body {
   font-size: 3rem;
   font-family: sans-serif;
   line-height: 3;
   color: #070000;
   background: #b90909;
 }

 .tasklogo {
   font-family: 'Audiowide', Tahoma;
 }

.flex {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
article {
  padding-top: 40px;
  padding-bottom: 40px;
}


header {
  background: #42ce9f;
  color: #fff;
}
header .container {
  padding: 20px 10px;
}

footer {
  background: #42ce9f;
  color: #fff;
}
footer .date {
  text-align: center;
}
footer .container {
  padding: 20px 10px;
}
footer .copyright {
  text-align: center;
}
